:root {
  --start-color: #9333ea; 
  --end-color: #818CF8;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030712;
    transition: background-color 0.3s ease;
}

.hero-content {
    max-width: 56rem; 
    margin: auto;
    text-align: center;
    padding: 0 1rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    color: #818cf8;
    font-weight: 500;
    margin-bottom: 1rem;
    animation: fadeInDown 0.8s ease-out; 
}

.hero-title {
    font-size: 4.5rem; 
    font-weight: 900; 
    color: #ffffff;
    margin-bottom: 1.5rem;
    line-height: 1; 
    letter-spacing: -0.025em; 
    animation: fadeInRight 0.8s ease-out;
}

.gradient-text {
    background-color: #9333ea;
    background-image: linear-gradient(
        90deg,
        var(--start-color) 0%,
        var(--start-color) 25%,
        rgba(255,255,255,0.7) 50%,
        var(--end-color) 75%,
        var(--end-color) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% 100%;
    background-position: 0% 0%;
    animation: textShine 3s ease-in-out infinite alternate;
}

@media (min-width: 640px) {
    .hero-title {
        font-size: 5rem; 
    }
}

.hero-description {
    font-size: 1.875rem; 
    color: #d1d5db; 
    font-weight: 300; 
    margin-bottom: 2rem;
    animation: fadeInLeft 0.8s ease-out;
}

.cta-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    animation: fadeInUp 0.8s ease-out;
}

.cta-button {
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.3s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.cta-button-primary {
    color: white;
    background-color: #4f46e5; 
}

.cta-button-primary:hover {
    background-color: #4338ca; 
    transform: scale(1.05);
}

.cta-button-secondary {
    color: #818cf8;
    border: 2px solid #818cf8;
    background: transparent;
}

.cta-button-secondary:hover {
    background-color: #1e3a8a; 
    transform: scale(1.05);
}


@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInRight {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeInLeft {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
